.back-link{
  
 a{
    text-decoration: none;    
    color: var(--common-dark);
    display: flex;
    justify-content: center;
    background-color: #ccc;
    width: 48px;
    height: 48px;   
    font-size: 32px;
    font-weight: 700;
    border-radius: 5PX;
  &:active{
      font-size: 36px;
  }
 }
}