//user-card

.user-card{
  input {border: 0px;}
  label{margin-bottom: 8px;}
}
.navs{
  width: 100%;
  display: flex; justify-content: flex-end;
}
.first-user-details{
  display: flex; flex-direction: column;
  margin-bottom: 12px;
}

.add-user{
  padding-top: 16px;
  &-title{
    font-size: 22px; font-weight: 700; padding: 0 10px;
  }
  .user-form{
    display: flex;
    margin-top: 12px; border: 1px solid #dadada;
    padding: 8px 12px;
    .close{margin-left: auto;}
  }
  label{
    display: flex; justify-content: space-between; margin-bottom: 8px; margin-right: 0;
  }
  .buttons-div{
    display: flex; justify-content: center;
  }
}
.other-data{
  display: flex; justify-content: space-between; flex-wrap: wrap; 
  align-items: flex-end;
  border-top: 1px solid #ececec; margin-top: 8px; padding-top: 8px;
  .user-data{
    display: flex; flex-direction: column;
  }
}