//All buttons style are here
.btn{	
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:12rem;
	font-weight:bold;
	padding:6px 12px;
  text-decoration:none;
  margin-left: 5px;
  white-space: nowrap;
  &.blue{
    box-shadow:inset 0px 1px 3px 0px #67d1e4;
    background-color:#2bb3e4;border: 0px;
    &:hover{
      background-color:#1ecceb;
    }
  }
  &.dark-blue{
    box-shadow:inset 0px 1px 0px 0px #bee2f9;
	  background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
    background-color:#63b8ee;	border:1px solid #3866a3;
    &.hover{
      background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
	    background-color:#468ccf;
    }
  }
  &.red{
    box-shadow:inset 0px 1px 3px 0px #d12c2c;
    background:linear-gradient(to bottom, #9e2929 5%, #bd3535 100%);
    background-color:#9e2929;
    border:1px solid #b52424;
    &:hover{
      background:linear-gradient(to bottom, #bd3535 5%, #9e2929 100%);
      background-color:#bd3535;
    }
  }
}

