//All buttons style are here
.common-button{	
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:12px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
  margin-left:auto; 
  white-space: nowrap;
  &.blue{
    box-shadow:inset 0px 1px 3px 0px #276873;
    background-color:#599bb3; border:1px solid #29668f;
    background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    text-shadow:0px -1px 0px #3d768a;
    &:hover{
      background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
      background-color:#408c99;
    }
  }
  &.red{
    box-shadow:inset 0px 1px 3px 0px #d12c2c;
    background:linear-gradient(to bottom, #9e2929 5%, #bd3535 100%);
    background-color:#9e2929;
    border:1px solid #b52424;
    &:hover{
      background:linear-gradient(to bottom, #bd3535 5%, #9e2929 100%);
      background-color:#bd3535;
    }
  }
}

