// Here all the common colors and mixing
*{
    margin: 0px; padding: 0px; box-sizing: border-box; outline: none;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: rgb(87, 87, 87);
    background-color: rgb(247, 253, 255);
}
.hide{
    display: none;
}
h2{font-size: 22px;}
label{
    font-size: 18px; font-weight: 700; 
    margin-right: 8px; margin-bottom: 8px;
}
.main{
    margin: 40px 40px; display: flex;
}
.left-side{
    max-width: 550px; padding-right: 12px; border-right: 1px solid #dadada;
}

.input-text{height: 22px;}
