@mixin label {
  transform: translateY(-20px);
  font-style: normal;
  color: var(--common-blue);
}

.search-field{
  display: flex;
  justify-content: space-between;
  position: relative;

  input{
    width: 60%;
    position: relative;
    border-radius: 3px;
    border: 1px solid var(--common-blue);
    padding-left: 6px;

    &:focus + label{
      @include label;
    }
    &:valid + label{
      @include label;
    }
  }
  label{
    position: absolute;
    color: rgb(196, 196, 196);
    transition: 0.2s;
    transform: translate(5px, 2px);
    font-size: small;
    font-style: italic;
  }

}