.loading{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

@media all and (max-width: 970px){
    .desktop{display: none}
    
}
@media all and (min-width: 971px){
    .mobile{display: none}
}