* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #575757;
  background-color: #f7fdff;
}

.hide {
  display: none;
}

h2 {
  font-size: 22px;
}

label {
  font-size: 18px;
  font-weight: 700;
  margin-right: 8px;
  margin-bottom: 8px;
}

.main {
<<<<<<< HEAD
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-top: 12px;
  margin-left: 12px;
=======
  margin: 40px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
>>>>>>> users-style
}

.left-side {
  padding-right: 20px;
  border-right: 1px solid #dadada;
}

.input-text {
  height: 22px;
}

/*small test+2*/
.btn {
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 6px 12px;
  text-decoration: none;
  margin-left: 5px;
  white-space: nowrap;
}

.btn.blue {
  -webkit-box-shadow: inset 0px 1px 3px 0px #67d1e4;
          box-shadow: inset 0px 1px 3px 0px #67d1e4;
  background-color: #2bb3e4;
  border: 0px;
}

.btn.blue:hover {
  background-color: #1ecceb;
}

.btn.red {
  -webkit-box-shadow: inset 0px 1px 3px 0px #d12c2c;
          box-shadow: inset 0px 1px 3px 0px #d12c2c;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #9e2929), to(#bd3535));
  background: linear-gradient(to bottom, #9e2929 5%, #bd3535 100%);
  background-color: #9e2929;
  border: 1px solid #b52424;
}

.btn.red:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #bd3535), to(#9e2929));
  background: linear-gradient(to bottom, #bd3535 5%, #9e2929 100%);
  background-color: #bd3535;
}

.user-card {
  padding: 12px;
  border-radius: 0px;
  border: 1px solid #f1f5ff;
  background-color: white;
  -webkit-box-shadow: 0px 2px 5px #d1e5ff;
          box-shadow: 0px 2px 5px #d1e5ff;
  margin-bottom: 12px;
  cursor: pointer;
}

.user-card input {
  border: 0px;
}

<<<<<<< HEAD
.user-card .navs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
=======
.navs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
>>>>>>> users-style
}

.first-user-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 12px;
}

.other-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-top: 1px solid #ececec;
  margin-top: 8px;
  padding-top: 8px;
}

.other-data .user-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.search-field input {
  position: relative;
  border-radius: 3px;
  border: 1px solid #2bb3e4;
  padding-left: 6px;
}

.search-field input:focus + label {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  font-style: normal;
  color: #2bb3e4;
}

.search-field input:valid + label {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  font-style: normal;
  color: #2bb3e4;
}

.search-field label {
  position: absolute;
  color: #c4c4c4;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translate(5px, 2px);
          transform: translate(5px, 2px);
  font-size: small;
  font-style: italic;
}
/*# sourceMappingURL=index.css.map */